@import "tailwindcss";
@plugin "daisyui";

/* Load Noto Fonts */
html, body {
    font-family: 'Noto Sans Variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Center all content
A CSS Developer's favorite thing to do... */

body {
    margin: 20px 100px;
    height: 100vh; /* full viewport height */
    display: flex;
    justify-content: center; /* horizontal center */
    /* align-items: center; */
}

th {
    padding-inline: 8px;
    padding-block: 4px;
}

td {
    padding-inline: 4px;
    padding-block: 4px;
}